body {
  margin: 0px;
  background-color: #aacbb0;
  font-family: "Open Sans", sans-serif;
  color: #3a251c;
}

header {
  display: block;
  text-align: center;
  margin-top: 5em;
}

footer {
  padding: 1em;
  text-align: center;
  font-size: 0.7em;
}

.join-email {
  padding: 2em;
  background-color: #3a251c;
  color: white;
  text-align: center;
}

h1 {
  font-size: 4em;
  line-height: 0.8em;
}

a {
  color: #94192f;
  font-weight: 500;
  text-decoration-style: wavy;
  text-decoration-line: underline;
}

a:hover {
  text-decoration-style: wavy;
  text-decoration-line: underline;
}

.container {
  width: 100%;
  background-color: #f7f3d9;
}

.center {
  margin: 0 auto;
}

.cafe {
  text-align: center;
}

.details-img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  float: right;
}

.details-table {
  display: flex-inline;
}
.table-left {
  width: 30%;
  font-weight: 700;
}
.table-right {
  width: 40%;
}

.scallop {
  height: 50px;
  width: 100%;
  background: -webkit-gradient(
    radial,
    50% 100%,
    10,
    50% 100%,
    40,
    from(#f7f3d9),
    color-stop(0.49, #f7f3d9),
    color-stop(0.51, #aacbb0),
    to(#aacbb0)
  );
  -webkit-background-size: 49px 100%;
  margin: 0 auto;
}

/* CAKE CLICK GAME */
/* Style output */
input#cake[type="text"] {
  padding: 0.5em;
  background-color: #ff8b8e;
  border: 2px solid #ff8b8e;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 2em;
  color: #fff;
}

/* Style button */
.click-result {
  margin-top: 5px;
  margin-bottom: 10px;
}
.click-cake {
  height: 175px;
  width: 175px;
  background: none;
  border-radius: 50%;
  padding: 10px;
  border: 1px dashed #ff8b8e;
  cursor: pointer;
}
.click-cake:hover {
  position: relative;
  left: 1px;
  top: 1px;
}

/* EMAIL FORM */
.email-input {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  width: 30%;
  resize: horizontal;
}
.name-input {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  width: 15%;
  resize: horizontal;
}
.email-submit {
  background-color: #ff8b8e;
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-family: "Open Sans", sans-serif;
}
.email-response {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  margin-top: 10px;
  text-align: center;
}

/* Flexbox */
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.item {
  flex-grow: 1;
  padding: 1em;
  flex-basis: 20%;
}

.gallery > h3 {
  padding-left: 1em;
}

.join-email > h3 {
  color: #ffbfb4;
}

/* Gallery Grid */
.gallery-column {
  float: left;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  background-color: #b38979;
}

.gallery-column:nth-child(odd) {
  background-color: #ffbfb4;
}

.gallery:after {
  content: "";
  display: table;
  clear: both;
}

figcaption {
  text-align: center;
  font-size: .9em;
}

/* HAMBURGER NAVIGATION - documentation:  https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */
.hmenu {
  background-color: #f7f3d9;
  overflow: hidden;
  z-index: 1;
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
  border-bottom: 2px solid #aacbb0;
}
.hmenu a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.hmenu a:hover {
  background-color: #ff8b8e;
  color: #9e132f;
}
.hmenu a.active {
  background-color: #ff8b8e;
  color: #9e132f;
}
.hmenu .icon {
  display: none;
}
.hmenu a:not(:first-child) {
  display: none;
}
.hmenu a.icon {
  float: right;
  display: block;
}
.hmenu {
  display: block;
}
.hmenu.responsive {
  position: fixed;
  top: 0;
}
.hmenu.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
.hmenu.responsive a {
  float: none;
  display: block;
  text-align: left;
}

@media screen and (max-width: 360px) {
  /* Tiny Device fixes */
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.1em;
  }
  .details-img {
    display: none;
  }
  .details-table {
    width: 100%;
  }
  .details-table tr:nth-child(odd) {
    background-color: #fffce8;
  }
  .table-left {
    width: 60%;
  }
  .table-right {
    width: 40%;
  }
}

@media screen and (min-width: 768px) {
  /* TABLET */
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .container {
    width: 85%;
    max-width: 980px;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
  }
  footer {
    padding-bottom: 0;
  }
  .scallop {
    height: 50px;
    width: 85%;
    max-width: 980px;
  }
  .details-img {
    float: none;
    width: 200px;
    height: 200px;
  }
  .gallery-column {
    width: 33.33%;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
  }
  .cafe {
    background: repeating-linear-gradient(
      45deg,
      #f7f3d9,
      #f7f3d9 10px,
      #ece8cd 10px,
      #ece8cd 20px
    );
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
  }
  .click-cake {
    background-color: #f7f3d9;
  }
}

@media (min-width: 992px) {
  /* DESKTOP */
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .hmenu {
    display: none;
  }

  .scallop {
    height: 50px;
    width: 85%;
    max-width: 980px;
  }

  .cafe {
    background: none;
    padding: 0;
    border-radius: 0;
  }

  .gallery-column {
    width: 33.33%;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
  }
}
